html, body{
    width: 100%;
    height: 100%;
    margin: 0px;
}

#base{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
    
}

#cuadricula{
    width: 90%;
    height: 90%;
    background-color: whitesmoke;
    border: 2px solid white;
    display: grid;
    grid-template-columns: 1fr minmax(200px,1fr);
    grid-template-rows: repeat(3, 1fr 2fr 4fr);
}

.casilla{
    background-color: brown;
    margin: 2px;
}